
header.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  height: 400px;

  width: 100%;
  background-color: #256600;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

.avatar-img {
  position: absolute;
  top: 105px;

}

.name-tag {
  position: absolute;
  top: 350px;
  font-size: 30px;
  color: black;
  text-shadow: 3px 3px #1f4009;
}

strong { 
  font-weight: bold; 
}


@media only screen and (min-width: 1024px) {


header.page-header {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 100%;
  left: -55px;
  top: 55px;
}

.avatar-img {
  height: 300px;
  position: absolute;
  top: 105px;

}

.name-tag {
  position: relative;
  top: 400px;
  font-size: 50px;
  color: black;
  text-shadow: 3px 3px #1f4009;
}


  
}