

nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  padding: 1.5em;
}

#writeTweetArrow {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}