
.new-tweet {
  display: flex;
  flex-direction: column;
  border: dotted;
  border-radius: 10px;
  border-color: red;
  background-color: #dbd4c1;
  width: 85%;
}

.new-tweet form {
  padding: 20px;
  margin: 5px;
}

.red {
  color: red;
}


.tweet-button {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Bungee', sans-serif;
  /* border: solid;
  border-color: black; */
}

textarea #tweet-text {
  border: black;
  border-bottom: solid;
  border-radius: 5px;
  font-size: 15px
}

.tweet-button button {
  color: #dbd4c1;
  border-radius: 2px;
  background-color: blue;
}

article.tweet {
  border: solid black;
  border-radius: 5px;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  align-items: center;
}

header.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  height: 75px;
}

div.flex-actual-tweet {
  display: flex;
  flex-direction: flex-start;
}

div > div.actual-tweet {
  top: 15px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

article footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  padding: 10px 15px
}


#tweet-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: #dbd4c1;
  width: 85%;
  height: 100%
}

.time-passed {
  font-size: 14px;
  padding: 5px;
  opacity: 75%;
}

.fa-2xs:hover {
  color: green;
}

hr {
  position: relative;
  width: 90%;
  top: 15px;
}

div.user-name {
  font-size: 18px;
  opacity: 75%;
}

div.tweet-icon {
  opacity: 75%;
  font-size: 25px;
}

#form-error {
  position: absolute;
  width: 75.5%;
  height: 45px;
  /* border: 3px solid red;
  border-radius: 5px; */
  color: red;
  font-size: 20px;
  /* align-items: center;
  margin-left: 50px;
  margin-right: 50px; */
}